<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Asset Tracker App" />
    <meta name="title" property="og:title" content="Asset Tracker" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image"
    content="https://live.staticflickr.com/65535/52107756082_9552af864a_h.jpg"
    />
    <meta name="description" property="og:description" content="Asset Tracker App" />
    <meta name="author" content="Dominique Thomas" />
    <title>Asset Tracker</title>
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    
  <div class='navbar'>
    <a href="/home">Home</a>

       <div class="subnav">
          <button class="subnavbtn">Assets<i class="fa fa-caret-down"></i></button>
              
            <div class="subnav-content">
              <a href="/assets">View</a>
              <a href="/assets/new">Create</a>
              <a href="/assets/update">Update</a>
              <a href="/assets/delete">Delete</a> 
            </div>  

        </div>

    <% if (user) { %>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Login</a>
    <% } %>
                      
    
    <% if (user) { %>
      <h2><%= user.name %></h2>
      <img src=<%= user.avatarUrl %>>
    <% } %>
                    
              
  </div>
    
    
<main>

    