<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <!-- <header class="header"> -->
    <!-- <div class="container"> -->
      
        
        <nav class="navbar">

            <!-- The navigation menu -->
            <!-- <div class="navbar"> -->
                <div id='logo'>
                    <!-- <img src=""> -->
                    <h2>ASSET TRACKER</h2>
                    
                </div>
                <div class="navcontent">
                
                    <a href="/home">Home</a>
                    <div class="subnav">
                        <button class="subnavbtn">Assets List <i class="fa fa-caret-down"></i></button>
                        <div class="subnav-content">
                            <a href="/assets/new">Create Assets</a>
                            <a href="/assets">View Assets</a>
                            <a href="/assets/update">Update Assets</a>
                            <a href="/assets/delete">Delete</a> 
                        </div>
                    </div>

                    
                        <% if (user) { %>
                            <a href="/logout"><i class="fa fa-fw fa-user"></i>Log Out</a>
                        <% } else { %>
                            <a href="/auth/google"><i class="fa fa-fw fa-user"></i>Login</a>
                        <% } %>
                    
                </div>
            <!-- </div> -->

        </nav>

    <!-- </div> -->
    <!-- </header> -->
    
<main>

    