<%- include('../../partials/header') %>

<form id='property-form' href='/assets/new/property' method="POST">
    <div>
        <label>Address</label>
        <input type="text" name="nickname" placeholder="enter your property
        address">
        <label>Price</label>
        <input type="text" name="price" placeholder="enter your purchase price">
        <label>Income</label>
        <input type="text" name="income" placeholder="enter monthly income">
        <label>Expenses</label>
        <input type="text" name="expenses" placeholder="enter monthly expenses">
        <label>Details</label>
        <input type="text" name="details" placeholder="enter any details">
    </div>
    
    <input id='submit' type="submit" value="Submit">
</form>


<%- include('../../partials/footer') %>