<%- include('../../partials/header') %>

<form id='stock-form' href='/assets/new/stock' method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="nickname" placeholder="enter your company
        stock name">
        <label>Price</label>
        <input type="text" name="price" placeholder="enter current stock price">
        <label>Shares</label>
        <input type="text" name="shares" placeholder="enter stock shares">
        <label>Details</label>
        <input type="text" name="details" placeholder="enter any details">

    </div>
    
    <input id='submit' type="submit" value="Submit">
</form>


<%- include('../../partials/footer') %>