<%- include('./partials/header') %>

<div id='index-page'>
    <h1>Welcome to your personal Asset Tracker!</h1>
    
    <h3>Login to start creating and organizing your assets</h3>

</div>

<%- include('./partials/footer') %>
