body {    
  background: rgb(6,6,0);
  background: linear-gradient(
135deg
, rgba(6,6,0,1) 0%, rgba(2,102,7,1) 100%);
  width: auto;
  margin: 0px;
  height: 800px;
}

/* USER PAGE STYLING */
#user-page {
    font-family: 'Quantico', sans-serif;
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px
}

#user-page div {
    flex-direction: column;
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-start;
    align-self: auto;
    align-items: center;

}

/* ASSETS PAGE STYLING */
#assets-page {
    display: flex;
    justify-content: center;
    margin-top: 48px;

}

#assetsList {
    color: white;
    font-size: 16px;
}

#assets-page button {
    font-size: 20px;
    margin: 16px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    background-color: gray;
}

#assets-page a {
    color: white;
    text-decoration: none;
}

#assetsList th {
    color: white;
    font-family: 'Quantico', sans-serif;
}

#assetsList th, td {
    border-bottom: 1px solid #ddd;
  }

/* CREATE ASSET PAGE */
#new-form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

#create-asset-page {
    display: flex;
    justify-content: flex-start;
    margin: 36px;
}

#new-form label {
    color: white;
    margin: 4px;
    padding: 2px;
    font-size: 24px;
}

#new-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#new-form div input {
    height: 24px;
}

#new-form #submit {
    font-size: 24px;
    margin: 12px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    background-color: gray;
    color: white;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Quantico', sans-serif;
  }
  
  /* Navigation links */
.navbar a {
    float: left;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar img {
    height: fit-content;
    width: 48px;
    float: right;
    padding: 6px;
}

.navbar h2 {
    float: right;
    color: white;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
  }

  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(3, 99, 8);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(3, 99, 8);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

