<%- include('../partials/header') %>

<div id='user-page'>

    <div id='income-expenses'>
        <table>
            <thead>
                <th>Income</th>
                <th>Expenses</th>
            </thead>
    
            <tbody>
                <td>+ $30,320</td>
                <td>- $5,320</td>
            </tbody>
        </table>
    </div>
    
    <div id='cash-flow'>
        <h2>Cash Flow:</h2>
        <span><h2>$25,000</h2></span>
    
    </div>
    
    <div id='asset-icons'>
        <button id='property'>Properties</button>
        <button id='stock'>Stocks</button>
        <button id='company'>Companies</button>
    </div>
</div>

<%- include('../partials/footer') %>