<%- include('../partials/header') %>

<div id='delete-page'>
    <form id="delete-form" href='/assets/<%= asset._id %>/delete' method="POST">
        
        <p>Are you sure you want to delete <%= asset.nickname %>?</p>
        <a href='/assets'>Go back</a>
        <input id='submit' type="submit" value="DELETE">
    
    </form>

</div>

<%- include('../partials/footer') %>