<%- include('../partials/header') %>

  
    <div id='assets-page'>
      <table id="assetsList">
          <thead>
              <th>Companies</th>
              <th>Properties</th>
              <th>Stock</th>
          </thead>
          <tbody> 
            
                <td></td>
                <td></td>
                <td><a href="/assets">DETAILS</a></td>
            </tbody>
          </table>

          <button><a href='/assets/new'>Create Asset</a></button>

    </div>



<%- include('../partials/footer') %>