<%- include('../partials/header') %>

    <div id='assets-page'>
      <table id="assetsList">
          <thead>
            <tr>
              <th>Assets</th>
              <th>Assets <br>List</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <td></td>
                <td><a href="/assets">DETAILS</a></td>
              </tr>
            </tbody>
          </table>

          <button><a href='/assets/new'>Create Asset</a></button>

    </div>



<%- include('../partials/footer') %>