<%- include('../partials/header') %>
    <form>
        <input type="text" />
        <input type="text" />
        <input type="text" />
        <button> submit </button>
    </form>



<%- include('../partials/footer') %>