<%- include('../partials/header') %>

<div id='create-asset-page'>
    <form id="new-form" href='/assets/new' method="POST">

        <div>
            <label>Type</label>
        
            <select name="type">
            <option value="Company">Company</option>
            <option value="Property">Property</option>
            <option value="Stock">Stock</option>
            </select>
        </div>
        
        <div>
            <label>Name</label>
            <input type="text" name="nickname" placeholder="enter address">
        </div>
        
        <div>
            <label>Price</label>
            <input type="text" name="price" placeholder="enter price">    
        </div>

        <div>
            <label>Income</label>
            <input type="text" name="income" placeholder="enter income">
        </div>
    
        <div>
            <label>Expenses</label>
            <input type="text" name="expenses" placeholder="enter expenses">
        </div>

        <div>
            <label>Details</label>
            <input type="text" name="details" placeholder="enter details">
        </div>
    
        <input id='submit' type="submit" value="ADD">
      </form>

      <div id='asset-info'> 

      </div>
</div>

  <%- include('../partials/footer') %>