<%- include('../partials/header') %>

<div id='create-asset-page'>

    <form id="new-form" href='/assets/new' method="POST">
        
            <label>Please choose an asset type:</label>
            <select name="type">
            <option value="Company">Company</option>
            <option value="Property">Property</option>
            <option value="Stock">Stock</option>
            </select>


    
        <input id='submit' type="submit" value="Submit">
      </form>

</div>

  <%- include('../partials/footer') %>